server {
    listen 80;
    listen [::]:80;
    server_name ${SITE_DOMAIN};

    location /.well-known/acme-challenge/ {
            allow all;
            root /var/www/certbot;
    }

    location /health/ {
        return 200 'server up';
        add_header Content-Type text/plain;
    }

}
