version: '3.9'
services:

  wordpress:
    build: wp-php8.1-fpm-memcached/
    image: vellu83/wordpress:php7-fpm-memcached
    container_name: wordpress
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - static-content:/var/www/html:rw
      - ./wpconfig:/usr/local/etc/php/conf.d/uploads.ini
      - ./wpthemes:/var/www/html/wp-content/themes/:rw
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_NAME=WpDatabase
      - WORDPRESS_DB_USER=WpDbUser
      - WORDPRESS_DB_PASSWORD=WpDpSalaine345##!!!
  db:
    # default port 3306
    container_name: mariaDb
    image: mariadb:10.1
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=WpDatabase
      - MYSQL_USER=WpDbUser
      - MYSQL_PASSWORD=WpDpSalaine345##!!!
      - MYSQL_ROOT_PASSWORD=WpDpRootSalaine345##!!!
    volumes:
      - .db/files:/var/lib/mysql
    command:
      - '--default-authentication-plugin=mysql_native_password'

  nginx:
    image: nginx:stable
    container_name: wp-nginx
    restart: unless-stopped
    depends_on:
      - wordpress
    ports:
      - '80:80'    # http
      - '443:443'   # https
    volumes:
      - static-content:/var/www/html
      - ./nginx/conf:/etc/nginx/conf.d
      - ./certbot/conf:/etc/nginx/ssl
      - ./nginx/logs:/var/log/nginx
      - ./certbot/data:/var/www/certbot
      - ./wpthemes:/var/www/html/wp-content/themes/

  memcached:
    container_name: memcached
    image: memcached:latest
    environment:
      - MEMCACHED_CACHE_SIZE=128

  certbot:
    container_name: certbot
    image: certbot/certbot:latest
    command: certonly --webroot --webroot-path=/var/www/certbot --agree-tos -d dev.vellu.info -m velimatti.remander@gmail.com
    depends_on:
      - nginx
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/logs:/var/log/letsencrypt
      - ./certbot/data:/var/www/certbot:rw

volumes:
  static-content:

